homeassistant==0.47.1
asyncio==3.4.3
aiohttp_cors==0.5.2  # requirement of HTTP component
phue==0.9  # requirement of Philips Hue component
SoCo==0.12  # requirement of Sonos component
lightify==1.0.5 # requirement of Lightify component
liffylights==0.9.4 # requirement of lifx_legacy component
